body {
  background-color:#FFF;
}
#content {
  margin:0 auto;
  width:80%;
  max-width:800px;
  border-radius:0 25px;
  opacity:0.8;
  background-color:#D3EDFF;
  color:#000;
  border:2px solid #000B38;
  overflow:hidden;
}

a {
  color:#000;
  font-weight:bold;
}

#header {
  background-color:#004399;
  padding:25px;
  color:#FFF;
}

.view {
  padding:25px;
}
