
<form name="blog-post">
  <label>Title</label><br>
  <input type="text" name="title" ng-model="article.title"><br>
  <label>Url</label><br>
  <input type="text" name="url" ng-model="article.url"><br>
  <label>Content</label><br>
  <textarea id="editor" name="content" ng-model="article.content"></textarea><br>
  <label>
    <input type="checkbox" name="draft" ng-model="article.draft" checked> 
    Draft
  </label><br>
  <a href="#/"><button>Back</button></a>
  <button ng-click="save()">Save</button>
  <button ng-click="delete()">Delete</button><br>
</form>

<div id="preview" ng-bind-html="article.content | trustHTML">
</div>


