<div class="content-box" ng-if="article">
  <h1>{{article.title}}</h1>
  <p><em>Posted: {{article.published | date:'MM-dd-yyyy'}}</em></p>
  <div ng-bind-html="article.content | trustHTML"></div>

  <a href="#/page/post/edit/{{article.url}}" ng-if="loggedIn">Edit Post</a>

 <div id="disqus_thread"></div>
 <script type="text/javascript">
 /*** CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE ***/
 // required: replace example with your forum shortname
 var disqus_shortname = 'nickhilton'; 
 $('#dsq-2 .logo').ready(function() { 
   setTimeout( function() {$('#dsq-2 .logo').remove(); },2000);
 });
 
 /*** DON'T EDIT BELOW THIS LINE ***/
 (function() {
   var dsq = document.createElement('script'); 
   dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>

</div>

<div class="content-box" ng-if="notFound">
  <h1>404 not found!</h1>
  <p>We apologize for the inconvenience, but we were unable to find the page you were looking for.</p>
  <p><a href="#/">Please click here to return to the article archives</a>.</p>
</div>

