<div class="content-box" ng-if="article">
  <h1>{{article.title}}</h1>
  <p><em>Posted: {{article.published | date:'MM-dd-yyyy'}}</em></p>
  <div ng-bind-html="article.content | trustHTML"></div>

  <a href="#/page/post/edit/{{article.url}}" ng-if="loggedIn">Edit Post</a>
</div>

<div class="content-box" ng-if="notFound">
  <h1>404 not found!</h1>
  <p>We apologize for the inconvenience, but we were unable to find the page you were looking for.</p>
  <p><a href="#/">Please click here to return to the article archives</a>.</p>
</div>

